extends main

include mixins/banner
include mixins/header
include mixins/button
include mixins/button1
include mixins/wide
include mixins/gitParents
include mixins/monial
include mixins/blog
include mixins/footer
include mixins/mobilemenu

block content
  +banner()
  +mobilemenu()
  +header()
  .home.parentsJS
    .container.c1
      h2 Study skills online
      h1 Engage your students with high-impact study skills webinars
      .zenscroll
        .button Enquire Now
          span.icons__buttonArrow!=icon("buttonArrow")
    video(src="https://maximizeyp.s3.eu-west-2.amazonaws.com/year/year10.mp4" class="p1video" playsinline="playsinline" preload="metadata" poster="https://maximizeyp.s3.eu-west-2.amazonaws.com/year/year10Poster.jpg" onclick="this.paused ? this.play() : this.pause();")
    .video__subtitle
      .video__subtitle-text See how our webinars work
    .year.parents
      .year__inner
        h1 So, what's on offer?
        p We have developed a series of!{' '}
          span.bold five!{' '}
            br.parentsBr
            | 30 minute webinars
          |!{' '}for each of the secondary school year groups. The content mirrors that of the highly-acclaimed workshops we've been delivering in schools for years.
        p In these uncertain times, they are an innovative way to engage with all your students, wherever they are, at a time that suits you.
        h2 Key Features
        .ticks
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Engage students at school or home
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Encourage independent learning
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Presenters of the highest calibre
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Evidence-based study skills
          .ticks__inner
            !=icon("check")
            .ticks__inner-text E-notes to support sessions
          .ticks__inner
            !=icon("check")
            .ticks__inner-text E-safety compliant
        //- +button("Enquire Now", "/#git")
        .zenscroll.zenscrollParents
          .button Enquire Now
            span.icons__buttonArrow!=icon("buttonArrow")
    .container.c2
      .c2__buttonWrapper
        h2 Testimonials
        +button1("Read more", "testimonials")
      h1 What schools are saying about Maximize
      .monialGrid.parentGrid
        +monial("MaxImg1", 'The best study skills provider you will see', "Andy Green", "Copleston School")
        +monial("MaxImg2", 'The presenters were first-class and feedback has been outstanding', "Sara Bentley", "The Snaith School")
    +gitParents()
  +footer()