extends ../main

include ../mixins/header
include ../mixins/footer
include ../mixins/button
include ../mixins/mobilemenu

block content
  .blogs
    +mobilemenu()
    +header()
    .specBlog
      .specBlog__top
        img(src=`https://maximizeyp.s3.eu-west-2.amazonaws.com/${card.img}`, alt="")
        .specBlog__top-text=card.title
      .content
        p What!{' '}
          span.bold one single thing
          |!{' '}do all high-achieving students do?
        p The answer is very simple. The students who succeed in exams always use the!{' '}
          span.bold exam specifications
          | .
        p An exam specification is a list of all the topics that can come up in a particular exam paper. And the very best students follow it to the letter.
        p One reason it’s such a gain is that so few students use it! Many are not even aware of it. And most parents won’t even know what it is. The mere act of laying your hands on it, places you in a very small bracket of students.
        p So where do you find it? Go to the website of the exam board that is setting your particular paper, search for your qualification, and you should see it, downloadable in PDF format.
        img(src="https://s3.eu-west-2.amazonaws.com/maximizeyp/blog/InnerBlog2Img.png", alt="AQA Specification")
        p So then what do you do? You work through it, line by line.
        p OK. But what does that mean? And how does that help you?
        p Say you download the specification for AQA GCSE Maths. And when you open it up, you read this: ‘[Students should know how to…] round numbers and measures to an appropriate degree of accuracy.’
        p Obviously, simply knowing that you could be asked to round numbers up or down in the exam doesn’t really help a whole lot. But it’s when you use that information to guide your revision that you will really reap the benefit.
        p The best students don’t just read the specification. They go away and make sure they know how to do everything that is on it. They work through exercises in textbooks. They stay behind after class to ask the teacher. They watch videos on YouTube.
        p Practising on past papers is all very well. But, remember, that only exposes you to the sections of the syllabus that students have been examined on!{' '}
          span.bold in the past
          | . Go through the specification and you will be familiar not just with parts of the syllabus that students have been tested on recently, but with!{' '}
          span.bold all examinable content
          | . Use the specification properly and nothing will surprise you.
        .undera
          .undera__center
            .undera__center-text Share on Twitter
            a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.maximizeyourpotential.co.uk/${card.slug}&via=maximizeyp%20&text=${encodeURI(card.title)}` target="_blank")!=icon("twitter")
        .specButton
          +button("Enquire now", "/#git")
    +footer()